// Auto genetated file
[
{
"name" : "verify - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-val-timeout" : 3600 , "-no-results" : "true" } ,
"main" : "verify" 
}
,
{
"name" : "verify - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-val-timeout" : 3600 , "-no-results" : "true" } ,
"main" : "verify" 
}
]
